
@{
    ViewBag.Title = "Earn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/lib/css/earn.css">

<div class="bg-gradient-to-t flex justify-center">
    <div class="w-full bg-gradient-to-t text-white h-screen font-bold flex flex-col max-w-xl">
        <div class="px-4 z-10">
            <div class="flex items-center justify-between text-center mt-4">
                <div class="flex-1 text-center">
                    <h4 class="title text-[25px]">EARN</h4>
                </div>
                <a href="/Home/Buffalo">
                    <svg width="25" height="25" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-top: 10px">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.79872 1.16648C5.24342 -0.388825 2.72178 -0.388825 1.16648 1.16648C-0.388826 2.72178 -0.388825 5.24342 1.16648 6.79872L11.8677 17.5L1.16648 28.2013C-0.388824 29.7566 -0.388824 32.2782 1.16648 33.8335C2.72178 35.3888 5.24342 35.3888 6.79872 33.8335L17.5 23.1322L28.2013 33.8335C29.7566 35.3888 32.2782 35.3888 33.8335 33.8335C35.3888 32.2782 35.3888 29.7566 33.8335 28.2013L23.1322 17.5L33.8335 6.79872C35.3888 5.24342 35.3888 2.72178 33.8335 1.16648C32.2782 -0.388823 29.7566 -0.388822 28.2013 1.16648L17.5 11.8677L6.79872 1.16648Z" fill="#D9D9D9" />
                    </svg>
                </a>
            </div>
            <div class="flex flex-col space-y-1 pt-4">
                <div class="flex justify-center">
                    <img src="~/lib/img/earn1.png" alt="Alternate Text" />
                </div>
                <div class="flex justify-center">
                    <img src="~/lib/img/earn2.png" alt="Alternate Text" />
                </div>
                <div class="flex justify-center">
                    <img src="~/lib/img/earn2.png" alt="Alternate Text" />
                </div>
                <div class="flex justify-center">
                    <img src="~/lib/img/earn2.png" alt="Alternate Text" />
                </div>
                <div class="flex justify-center">
                    <img src="~/lib/img/earn2.png" alt="Alternate Text" />
                </div>
                <div class="flex justify-center">
                    <img src="~/lib/img/earn2.png" alt="Alternate Text" />
                </div>              
            </div>

        </div>
    </div>
</div>

