
@{
    ViewBag.Title = "Soon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/lib/css/soon.css">

<div class="bg-gradient-to-t from-yellow-400 to-black flex justify-center items-center min-h-screen">
    <div class="flex flex-col items-center justify-center bg-gradient-to-t from-yellow-400 to-black text-white font-bold max-w-xl w-full h-full relative">
        <img src="~/lib/img/soon.png" alt="Alternate Text" class="mb-0" />
        <div class="flex flex-col items-center justify-center w-full h-full relative z-10">
            <h4 class="text-center mt-[120px] title">COMING SOON...</h4>
            <img src="~/lib/img/soon_main.png" alt="Alternate Text" class="mt-2" />
        </div>
    </div>
</div>


